body {
  font-family: Georgia, Times, 'Times New Roman', serif;

}

legend {
  font-size: 15pt;
  color: midnightblue;
}

input {
  margin: 7px;
  border: 1px solid palegreen;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5)
}

#resumo {
  resize: none;
  width: 570px;
  height: 100px;
  border: 1px solid palegreen;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5)
}

#name {
  width: 400px;
}

#endereco {
  width: 400px;
}

#moradia {
  margin-left: 10px;
}

.morada, #cargo, #descricao {
  margin-left: 0;
}

#casa, #apartamento {
  margin-right: 0;
}

.date {
  margin: 0;
  width: 20px;
}

.aaaa {
  width: 30px;
}

button {
  margin: 10px;
  padding: 10px;
  background-color: palegreen;
  border-radius: 40%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5)
}