body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #E76F51;
    width: 100%;
    margin-top: -18px;
}
header h1 {
    text-align: center;
    color: #264653;
    padding-top: 20px;
}

nav {
    background-color: #F4A261;
    margin-bottom: 0px;
}

.menu {
    text-decoration: none;
    padding-right: 250px;
    font-weight: bold;
    color: #457B9D;
}
.menu:hover {
    text-decoration: underline;
}

.pagina-inicial {
    padding-left: 300px;
}

article {
    width: 60%;
    text-align: center;
    background-color: #E9C46A;
    color: #264653;
    margin-top: -21px;
}
article h2 {
    padding-top: 20px;
}

table, td, tr {
    border: 2px solid brown;
    border-collapse: collapse; /*serve para unir as bordas criadas*/
    position: relative;
    margin-left: 150px;
}
.primeira-sec h3 {
    color: #457B9D;;
}
.primeira-sec img {
    position: absolute;
    margin-top: -150px;
    margin-left: 60px;
    width: 200px;
}

.segunda-sec p {
    padding: 0px 6px;
    color: #457B9D;
}
.segunda-sec img {
    width: 150px;
}
#bibliografia a {
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: bold;
    color: #457B9D;
}
#bibliografia a:hover {
    text-decoration: underline;
}
aside {
    background-color: #F2CC8F;
    width: 40%;
    float: right;
    margin-top: -676px;
    padding-bottom: 193px;
}
aside h3 {
    text-align: center;
    color: #457B9D;
    margin-top: 50px;
    margin-bottom: -10px;
}
iframe {
    margin: 50px;
    width: 450px;
}

footer {
    background-color: #F4A261;
    text-align: center;
    padding: 5px 0px;
    color: #264653;
}
