/* 14 - Use the order property to reorder the frogs according to their lilypads */
#pond {
	display: flex;
}

.yellow {
	order: 1;
}

/* 15 - Use the order property to send the red frog to his lilypad */
#pond {
	display: flex;
}

.red {
	order: -3;
}

/* 16 - nother property you can apply to individual items is align-self */
#pond {
	display: flex;
	align-items: flex-start;
}

.yellow {
	align-self: flex-end;
}

/* 17 - Combine order with align-self to help the frogs to their destinations */
#pond {
	display: flex;
	align-items: flex-start;
}

.yellow {
	order: 1;
	align-self: flex-end;
}

/* 18 - Spread them out using the flex-wrap property */
#pond {
	display: flex;
	flex-wrap: wrap;
}

/* 19 - Help this army of frogs form three orderly columns using a combination of flex-direction and flex-wrap */
#pond {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/* 20 - Try using flex-flow to repeat the previous level */
#pond {
	display: flex;
	flex-flow: column wrap;
}

/* 21 - You can use align-content to set how multiple lines are spaced apart from each other */
#pond {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

/* 22 - Use align-content to guide the frogs there */
#pond {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
}

/* 23 - Use a combination of flex-direction and align-content to get them to their lilypads */
#pond {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	align-content: center;
}

/* 24 - Bring the frogs home one last time by using the CSS properties you've learned */
#pond {
	display: flex;
	flex-flow: column-reverse wrap-reverse;
	justify-content: center;
	align-content: space-between;
}
